<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mg.studio.android.survey">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".finaltext"></activity>
        <activity android:name=".question12" />
        <activity android:name=".question11" />
        <activity android:name=".question10" />
        <activity android:name=".question9" />
        <activity android:name=".question8" />
        <activity android:name=".question7" />
        <activity android:name=".question6" />
        <activity android:name=".question5" />
        <activity android:name=".question4" />
        <activity android:name=".question3" />
        <activity android:name=".question2" />
        <activity android:name=".question1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".showFinalAnswer" />
    </application>

</manifest>